body{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    line-height: 1.4rem;
}
h1{
    font-size: 2rem;
    line-height: 1.3rem;
}

p{
    margin-top: 1.6rem;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: black;
    color: white;
    position: fixed;
    left:0;
    right: 0;
    top:0;
    padding: 0.5rem 0;
}
.main{
    padding-top: 5rem;
}

.header a{
    color:#fcf9f9;
    text-decoration: none;
}

.logo{
    letter-spacing: 5px;
    font-size: 1.3rem;
}

.logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display:block;
    padding:0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background:#4a4a4a;
}